body{
  margin: 0px;
  padding: 0px;
}

#container{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 999;
  display: none;


}

.cadastar{
    width: 100%;
    background-color: #EA720F;
     border-color: #EA720F;
     border-width: 0;
     color: #FFFFFF;
     display: block;
     margin: 0 auto;
     padding: 15px 50px;
     text-transform: uppercase;
     margin-top: 5px;
     cursor: pointer;

}

/* Modal de login */

.modal-principal-login{
  width: 500px;
  height: 430px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.modal-body-login{
  width: 450px;
  height:300px;
  background-color: white;

}

.modal-icones{
  width: 380px;
  height: 300px;
  transform: translateY(10%);
  background-color: white;
  margin-left: auto;
  margin-right: auto;

}

.icone-escolha-login{
  width: 180px;
  height: 160px;
  background-color:white;
  float: left;
  transform: translateY(20%);
  margin-left: 10px;
  cursor: pointer;

}

.icone-escolha-login:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.icone-escolha-login img{
  width: 180px;
  height: 160px;
}
/* Modal de autenticacao */

.modal-login{
  width: 330px;
  height: 430px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;

}

.modal-header-login{
  width:90%;
  height: 35px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

h4.modal-title-login{
  width: 100%;
  height: 28px;
  font-weight: lighter;
  float: left;
  margin-top: 10px;


}

p.modal-title-campos-login{
  font-weight: bold;
  float: left;
  margin-bottom: 15px;
}

a.modal-fechar{
  width: 20px;
  height: 20px;
  background-color: white;
  float: right;
  margin-left: -10px;
  background-image: url("../img/icon_close.png");
  background-size: 20px 20px;
  cursor: pointer;
}

.modal-body-login{
  width: 328px;
  height:360px;
  background-color: white;
}

.modal-box-icone-login{
  width: 288px;
  height: 275px;
  background-color: white;
}

.icone-login{
  width: 130px;
  height: 90px;
  background-image: url("../img/icon_logo.png");
  background-size: 130px 90px;
  transform: translateX(75%);
}


.modal-form-login{
  width: 288px;
  height: 190px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.form-login input{
  width: 288px;
  height: 46px;
  padding: 0.2em;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;

}


.form-login input[type="button"]{
    width: 288px;
  background-color: #EA720F;
   border-color: #EA720F;
   border-width: 0;
   color: #FFFFFF;
   display: block;
   margin: 0 auto;
   padding: 15px 50px;
   text-transform: uppercase;
   margin-top: 5px;
}

.modal-footer-login{
  width: 288px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Pagina de cadastro */


.principal-cadastro{
  width:500px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.principal-cadastro-juridico{
  width:800px;
  height: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10%);

}

.escolha-cadastro{
  width: 400px;
  height:120px;
  margin-left: auto;
  margin-right: auto;
}

.escolha-cadastro-header{
  width: 100%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 5px;
}

.escolha-cadastro-body{
  width: 400px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.icone-escolha-cadastro{
  width: 130px;
  height: 130px;
  background-color: lightgray;
  margin-left: 40px;
  float: left;
  background-color: white;
  transform: translateY(50%);

}

.icone-escolha-cadastro img{
  width: 130px;
  height: 130px;
  cursor: pointer;


}

.icone-escolha-cadastro span{
  width: 130px;
  height: 30px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.cadastro-header-title{
  width: 100%;
  height:50px;
  background-color:#15233a;
}

.cadastro-header-title h5{
  color: white;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: lighter;
  transform: translateY(50%);
  text-align: center;

}

/*  Pagna de prodtos */

.principal{
  width: 1200px;
  min-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}

.menu_filtos-produtos{
  width: 210px;
  min-height: 400px;
  height: auto;
  background-color: white;
  float: left;
  border: 1px solid #cccdd5;
  margin:10px 10px;
  border-radius: 4px

}


.menu_filtos-produtos h3{
  height: 30px;
  background-color: white;
  color: #15233a;
  margin-top: 20px;
  margin-left: 30px;
  /* transform: translateX(35%); */
  font-family: sans-serif;
  font-size: 15px;

}


.menu_filtos-produtos img{
  width: 15px;
  height: 15px;

}


.input-select {
  width: 185px;
  height: 30px;
  background-color: white;
  margin-left: 15px;
  border-radius: 10px;
  margin-top: -25px;
  margin-right: 5px;
  margin-bottom: 15px;


}

.linha-divisa{
  min-height: 800px;
  height: auto;
  border: solid 0.5px black;
  background-color: blue;
  margin-left: 25px;
  float: left;
  margin-top: 10px;
}

.area-produtos{
  width: 955px;
  min-height: 500px;
  height: auto;
  background-color: white;
  float: right;

}

.area-brindes{
  width: 1150px;
  min-height: 500px;
  height: auto;
  background-color: white;
  float: right;
  margin-left: auto;
  margin-right: auto;

}

.caixa-produtos{
  width: 260px;
  min-height: 370px;
  height: auto;
  background-color: white;
  float: left;
  margin-left: 55px;
  margin-bottom: 20px;


}

.caixa-produtos-brindes{
  width: 288px;
  height: 390px;
  background-color: white;
  float: left;
  margin-top: 45px;
  margin-left: 60px;
  border: 1px solid #cccdd5;

}

.card-imagem-brinde img{
  width: 288px;
  height: 288px;
  background-color: white;
}

.descricao-brinde{
  width: 275px;
  height: 80px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.descricao-brinde p{
  margin-top: 15px;
  font-size: 22px;
  color: #15233a;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: sans-serif;
  margin: 14px;
  text-align: center;
}

.descricao-brinde span{
  line-height: 14px;
  font-size: 20px;
  font-family: sans-serif;
  margin: 14px;
  float: left;
}

.descricao-brinde input[type="submit"]{
  background-color: green;
  color: white;
  padding: 14px 20px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 40px;


  /* background-color: #EA720F;
 border-color: #EA720F;
 border-width: 0;
 color: #FFFFFF;
 display: block;
 padding: 15px 30px;
 text-transform: uppercase;
 ;
  */
}


.caixa-foto-produto{
  width: 190px;
  height: 210px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10%);
}

.caixa-foto-produto img{
  width: 200px;
  height: 210px;
  background-color: white;


}

.infromacoes-produto{
  width: 200px;
  min-height: 30px;
  background-color: white;
  transform: translateY(100%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  font-family: arial;
}

.botao-produto{
  width: 240px;
  height: 35px;
  background-color:#15233a;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 35px;
  cursor: pointer;

}

/* Produtos para compra */

.carrinho-compras{
  width: 50px;
  height: 50px;
  background-image: url("../img/carrinho.jpg");
  background-size: 50px 50px;
  margin-left: auto;

}

.caixa-produtos-compra{
  width: 260px;
  height: 390px;
  background-color: white;
  float: left;
  margin-top: 45px;
  margin-left: 55px;

}


/* Pagina de eventos*/
.caixa_filtro_eventos{
  width: 100%;
  height: 60px;
  background-color: white;
  margin-bottom: 10px;

}

.filtro_evento{
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  margin: 5px;
  margin-left: auto;
  float: right;

}

.option_filtro_evento{
  text-align: center;

}

.header-title-eventos h3{
  width: 100%;
  height: 100px;
  font-family: sans-serif;
}

.body-eventos-informacoes{
  width: 800px;
  height: 250px;
  background-color: white;
}

.area-div-data{
  width: 100px;
  height: 100px;
  float: left;
}

.box-data{
  width:100px;
  height:100px;
  transform: translateX(20%);
  background-color: black;
}

.area-div-conteudo{
  width: 650px;
  height: 400px;
  margin-left: auto;
}


.box-nome-evento{
  width: 100%;
  height: 50px;
  background-color: white;
  float: inherit;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.box-descricao-evento{
  width: 100%;
  height: 70px;
  background-color: white;
  float: inherit;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: justify;
}

.localidade-evento{
  width: 300px;
  height: 100px;
  background-color: white;
  margin-top: -20px;

}

.linha{
  width: 1px;
  height: 85px;
  border: 0.5px solid #cccdd5;
  float: left;
}

.localidade-evento h6{
  font-family: sans-serif;
  font-size: 14px;
  color:#15233a;
  margin-left: 15px;
  margin: 10px;
  margin-bottom: 10px;
}

.localidade-evento span{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: black;
}
/* Modal da tabela nutricional */

.modal-tabela-nutrional{
  width: 500px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px h 50px gray;

}

.modal-header-tabela-nutrional{
  width: 95%;
  height: 85px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;

}

.modal-header-tabela-nutrional h4{
  width: 85%;
  height: 20px;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);

}

.modal-header-tabela-nutrional h5{
  font-weight: lighter;
  text-align: center;
  font-size: 17px;
  font-family: arial;
  margin-left: auto;
  margin-right: auto;

}

.modal-header-tabela-nutrional img{
  width: 20px;
  height: 20px;
  float: right;

}


.modal-body-tabela-nutrional{
  width: 95%;
  height: 255px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;

}

.quantidade-porcao{
  width: 70%;
  height: 255px;
  background-color: white;
  float: left;

}

.quantidade-porcao h5{
  font-weight: lighter;
  font-size: 17px;
  font-family: arial;
  margin-top: 5px;
  margin-left: 15px;

}

.porcentagem-porcao{
  width: 30%;
  height: 255px;
  background-color: white;
  margin-left: auto;

}

.porcentagem-porcao h5{
  font-weight: lighter;
  font-size: 17px;
  font-family: arial;
  margin-top: 5px;

}

.modal-footer-tabela-nutrional{
  width: 95%;
  height: 50px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;

}

.modal_anuncio{
  width: 390px;
  height: 560px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.modal-form-anuncio{
  width: 288px;
  height: 500px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}


.form-anuncio input{
  width: 288px;
  height: 25px;
  padding: 0.2em;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;

}

.select-anuncio{
  width: 288px;
  height: 30px;
  padding: 0.2em;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;

}


.form-anuncio input[type="button"]{
    width: 288px;
    height: 40px;
    background-color: #EA720F;
   border-color: #EA720F;
   border-width: 0;
   color: #FFFFFF;
   display: block;
   margin: 0 auto;
   padding: 15px 50px;
   text-transform: uppercase;
   margin-top: 5px;
   border-radius: 4px;
}

p.modal-title-campos-anuncio{
  font-weight: lighter;
  float: left;
  margin-bottom: 15px;
}
.data{
  width:100px;
  height: 100px;
}