/* remove a borda azul padrão dos inputs ao serem focados */
a:focus, button:focus, input:focus, textarea:focus, select:focus, option:focus {
  outline: none;
}

/* PADRÕES */

.font-texto{
  font-family: Helvetica;
}

.label_estilo{
  font-size: 19px;
  color: #000;
  padding-top: 2px;
}

.titulo_pagina{
  width: 100%;
  height: 100px;
  padding-top: 50px;

}

.titulo_pagina h1{
  font-size: 2.5em;
  text-align: center;
  color: #000;
  font-family: Helvetica;
}

/* caixa central da página */
.caixa_central_formulario{
  width: 1200px;
  height: 1150px;
  margin: auto;

}

/* caixa que guarda todo o formulario */
.caixa_form_fisica{
  width: 800px;
  padding-top: 10px;
  height: 1080px;
  margin-left: auto;
  margin-right: auto;
}

/* caixa que guarda os labels e os inputs */
.campos_form_fisica{
  width: 55%;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}


.input_estilo{
  height: 35px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 17px;
  font-family: Helvetica;
  color: #000;

}

.input_estilo:focus{
  border: 1px solid #e57510;
}

.input_largura_grande{
  width: 95%;
}

.input_largura_media{
  width: 55%;
}

.input_largura_pequena{
  width: 15%;
}

.campos_form_fisica img{
  width: 150px;
  height: 150px;

  background-color: rgb(107, 107, 107);
}

#btnSalvarImagem{
  width: 115px;
  height: 30px;

}

#caixa_botao{
  width: 250px;
  height: 40px;

  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
}

.botao{
  width: 250px;
  height: 45px;
  font-size: 19px;
  font-family: Helvetica;
  background-color:  #2c4b7c;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.botao:hover{
  background-color: #15233a;
  color: #fff;
}
