/* remove a borda azul padrão dos inputs ao serem focados */
a:focus, button:focus, input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}

/* ************************** Padrões CSS ************************** */
.font-texto{
    font-family: sans-serif;
}

.font-titulo{
    font-family: Microsoft JhengHei UI;
}

.font-negrito{
    font-weight: bold;
}

.inf_produto_texto{
    font-size: 20px;
}

.centralizar_caixa{
    margin-left: auto;
    margin-right: auto;  
}

.centralizar_texto{
    text-align: center;
}

/* ************************** Contéudo ************************** */


/* caixa do título das informaçõs do produto */
.caixa_inf_produto{
    width: 950px;
    height: 60px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #e6e6e6;
}

.inf_produto{ 
    height: 40px;
   
    float: left;
    font-weight: bold;
}

.inf_nome_produto{
    width: 525px;
    padding-left: 15px;
    padding-top: 20px;
}

.inf_qtd_produto{
    width: 185px;
    padding-left: 5px;
    
    margin-left: 2px;
    padding-top: 20px;
    
}

.inf_valor_produto{
    width: 102px;
    padding-left: 5px;
    padding-top: 10px;
    
    margin-left: 2px;
}

/* Caixa central do carrinho */
.caixa_central_carrinho{
    width: 1200px;
    min-height: 560px;
    height: auto;
    overflow: hidden;
    /*overflow: auto;*/ 
    padding-top: 20px;
   
}


/*caixa do carrinho que contém os items */
.caixa_carrinho{
    width: 950px;
    min-height: 160px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    
    border: 2px solid #e6e6e6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.5s;
}

.caixa_carrinho:hover{
    color: #15233a;
    transition: 0.5s;
    border: 2px solid #2b4268;
}

/* caixa que contem a imagem */
.caixa_imagem_carrinho{
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 2px rgba(34, 25, 25, 0.4);
    float: left;
    /*background-color: red;*/
}

/* caixa do nome do produto e preco */
.caixa_nome_preco{
    width: 375px;
    min-height: 150px;
    height: auto;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    /*background-color: forestgreen;*/
    font-size: 19px;
    word-wrap: break-word;
    float: left;
}

.nome_produto{
    padding-bottom: 80px;
}

.caixa_qtd{
    width: 190px;
    height: 150px;
    margin-top: 5px;
    margin-left: 2px;
    /*background-color: red;*/
    float: left;
    
}

.caixa_botao_qtd{
    width: 40px;
    padding-left: 10px;
    height: 90px;
    padding-top: 60px;
    /*background-color: #333;*/
    float: left;
    
}

.botao_qtd{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    
}

.caixa_quantidade{
    width: 82px;
    padding-left: 8px;
    height: 110px;
    padding-top: 40px;
    /*background-color: darkorange;*/
    border: none;
    float: left;
}

.quantidade{
    width: 70px;
    height: 60px;
    /*background-color: darkblue;*/
    background-color: transparent;
    border: none;
    font-size: 30px;
    border: 1px solid #e6e6e6;
    text-align: center;
    font-family: sans-serif;
    
    
}

.caixa_valor{
    width: 105px;
    height: 90px;
    padding-top: 60px;
    margin-left: 2px;
    text-align: center;
    margin-top: 5px;
    /*background-color: darkorchid;*/
    font-size: 20px;
    
    font-family: sans-serif;
    float: left;
}

.borda_caixa_valor{
    border-left: 1px solid #c9c9ea;
}


.div_subtotal{
    width: 200px;
    min-height: 100px;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
    float: right;
    margin-right: 130px;
    
}

.div_subtotal p{
    font-family: sans-serif;
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 20px;
    
}

.div_subtotal input{
    width: 200px;
    height: 50px;
    border: 2px solid #15233a;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #15233a;
    transition: 0.3s;
}

.div_subtotal input:hover{
    transition: 0.3s;
    color: #e57510;
    cursor: pointer;
}
