/* caixa do título da página */

p{
    color: #000;
}

h1{
    color: #e57510;
}


.caixa_crescer{
    height: auto;
    overflow: hidden;
}

.centralizar_caixa{
    margin-left: auto;
    margin-right: auto;
}

.centralizar_texto{
    text-align: center;
}

.elemento_direita{
    float: right;
}

.elemento_esquerda{
    float: left;
}

.font-titulo{
    font-family: Helvetica;
}


.font-texto{
    font-family: Helvetica;
    font-size: 18px;
    padding-bottom: 5px;
}

.font-negrito{
    font-weight: bold;
}


/* caixa central que ocupa 1200px de largura */
.caixa_central_pj{
    width: 1200px;
    min-height: 730px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* ************** Header *************** */

.caixa_painel_pj{
    width: 950px;
    min-height: 800px;
    border: 1px solid #ccc;
}

#caixa_header_pj{
    width: 100%;
    height: 70px;

}

#caixa_header_pj img{
    margin: 5px;
}


/* ************** Caixa Identidade *************** */
.caixa_identidade_pj{
    width: 90%;
    height: 290px;
    margin-top: 10px;
    border-bottom: 2px solid #ccc;

}

.caixa_imagem_pj{
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.identidade_pj_font{
    font-size: 20px;
    padding-bottom: 5px;
}

/* ************** Caixa Dados *************** */
.caixa_geral_dados{
    width: 85%;
    min-height: 230px;
    border-bottom: 2px solid #ccc;
    margin-top: 10px;

}

.grupo_form{
    width: 400px;
    min-height: 220px;

}

.texto_dados{
    width: 100%;
    min-height: 35px;
    padding-top: 15px;

    margin-bottom: 5px;
}

.texto_dados p{
    display: inline;
    font-size: 19px;
}

.caixa_num_cep{
    width: 50%;
    height: 35px;
    padding-top: 15px;
    margin-top: -15px;
}


/* ************** Meus Pedidos ************** */

/* titulos */
.caixa_meus_pedidos{
    width: 85%;
    min-height: 120px;
    margin-bottom: 10px;
    margin-top: 20px;

}

.caixa_meus_pedidos h1{
    padding-bottom: 20px;
}

.caixa_titulo_mp{
    width: 99%;
    height: 30px;
    margin-bottom: 5px;


}

.titulos_mp{
    width: 32%;
    height: 25px;
    padding-top: 5px;
    margin-left: 8px;
    border: 1px solid #ccc;
    font-size: 19px;
}

/* resultados */
.font-titulos_res{
    font-size: 18px;
    font-family: Helvetica;
}
