
/* PADRÕES */
.div_direita{
    float: right;
}

.div_esquerda{
    float: left;
}

.caixa_aumentar{
    height: auto;
    overflow: hidden;
}

/* ****** Conteúdo ********* */

/* Caixa central do video */
.caixa_central_video{
    width: 700px;
    min-height: 400px;
    padding: 15px;
    margin-left: auto;  
    margin-right: auto;
}

.caixa_principal_video{
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    padding: 5px;   
}

.caixa_video{
    width: 700px;
    min-height: 400px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titulo_video{
    width: 99%;
    word-wrap: break-word;
    font-family: Arial;
    font-size: 30px;
    font-family: Microsoft JhengHei UI;
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 10px;
}

.video{
    width: 99%;
    height: 400px;
    margin-left: 2px;
}