/*/*****CSS*****/
body, h1, h2, h3, p, ul, ol, li, figure{/*ZRNDO PADDING E MARGIN DE ALGUNS ELEMENTOS*/
    padding: 0px;
    margin: 0px;
}

/*************HEADER**************/
header{
  width: 100%;
  height: 240px;
  background-color: #15233a;
}
#centraliza_cabecalho{
  width: 1200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#cabecalho_superior{
  width: 1200px;
  height: 38px;
  margin-bottom: 3px;
}
#menu_cabecalho_superior{
  width: 200px;
  height: 35px;
  float: left;
  margin-top: 3px;
  margin-left: 900px;
}
#icon_user_header{
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 3px;
}
#icon_user_header:hover{
  cursor: pointer;
}
#cabecalho_meio{
  width: 1200px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}
#icon_logo{
  width: 240px;
  height: 170px;
  margin-left:460px;
}

.guarda_redes_sociais{
  width: 40px;
  height: 35px;
  float: left;
  margin-right: 15px;
}
.icon_redes_sociais{
  width: 25px;
  height: 25px;
}
.icon_redes_sociais:hover{
  cursor: pointer;
}
/*MENU CABEÇALHO*/
#menu_cabecalho_inferior{
  width: 100%;
  height: 40px;
  background-color:#e57510;
  position: absolute;
}
#menu_cabecalho_inferior_centralizado{
  width: 1200px;
  height: 40px;
  margin-left:auto;
  margin-right: auto;
  padding-top: 8px;

  font-family: Sans-serif;
  color: #000000;
  text-align: center;
  font-size: 18px;
}
.menu_cabecalho_item_pequeno{
  width:90px;
  height: 30px;
  float: left;
  margin-left: 8px;
}
.menu_cabecalho_item_pequeno:hover{
  cursor:pointer;
}
.menu_cabecalho_item_medio{
  width:125px;
  height: 30px;
  float: left;
  margin-left: 8px;
}
.menu_cabecalho_item_medio:hover{
  cursor: pointer;
}
.menu_cabecalho_item_grande{
  width:193px;
  height: 30px;
  float: left;
  margin-left: 8px;
}
.menu_cabecalho_item_grande:hover{
  cursor: pointer;
}
.icon_menu_triangulo{
  width:15px;
  height: 15px;
  margin-top: 5px;
}
.icon_menu_triangulo:hover{
  cursor: pointer;
}
#caixa_submenu_ev_an{
  background-color: #e57510;
  margin-top: 11px;
  width: 200px;
  height: 220px;
  margin-bottom: 1px;
  display: none;
}
.submenu_item_ev_an{
  width: 195px;
  height: 35px;
  font-family: Sans-serif;
  color: #000000;
  padding-left: 5px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
}
.submenu_item_ev_an:hover{
  background-color: #f79c4a;
  cursor: pointer;
}

#caixa_submenu_estabelecimento{
  background-color: #e57510;
  margin-top: 11px;
  width: 255px;
  height: 90px;
  display: none;
}
.submenu_item_estabelecimento{
  width: 250px;
  height: 45px;
  font-family: Sans-serif;
  color: #000000;
  padding-left: 5px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
}
.submenu_item_estabelecimento:hover{
  background-color: #f79c4a;
  cursor: pointer;
}

#caixa_submenu_sobre{
  background-color: #e57510;
  margin-top:11px;
  width: 180px;
  height: 60px;
  display: none;
}
.submenu_item_sobre{
  width: 175px;
  height: 30px;
  font-family: Sans-serif;
  color: #000000;
  padding-left: 5px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
}
.submenu_item_sobre:hover{
  background-color: #f79c4a;
  cursor: pointer;
}
.alinhar_menu_inferior{
  margin-top: -4px;
}

/*************FOOTER**************/
footer{
  width: 100%;
  height: 210px;
  background-color: #e57510;
}
#rodape_centralizado{
  width: 1160px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.area_menu_rodape{
  width: 200px;
  height: 170px;
  font-family: Sans-serif;
  color: #000000;
  text-align: left;
  font-size: 14px;
  float: left;
}
.area_menu_rodape_2{
  width: 270px;
  height: 170px;
  font-family: sans-serif;
  color: #000000;
  text-align: left;
  font-size: 14px;
  float: left;
}
.menu_rodape_item{
  width: 200px;
  height: 35px;
}
.menu_rodape_item_2{
  width: 270px;
  height: 35px;
}
#area_redes_sociais_rodape{
  width: 200px;
  height: 35px;
  margin-left: 1030px;
  margin-top: 70px;
}
#rodape_texto{
  width: 100%;
  height: 25px;
  background-color: #f79c4a;
}
#centraliza_texto_copyright{
  width: 570px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: Microsoft JhengHei UI;
  color: #000000;
  font-size: 12px;
  padding-top: 5px;
}
#icon_copyright{
  width: 15px;
  height: 15px;
  float: left;
}
